<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Customer Management System</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<div th:replace="fragments/topnav :: navbar">
</div>

<body>
<div class="container">
    <h1>Customer Management System</h1>
    <hr>
    <h2>Update Customer</h2>
    <form action="#" th:action="@{/save}" th:object="${customer}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{firstName}" class="form-control mb-4 col-4" required>

        <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" required>

        <input type="text" th:field="*{email}" class="form-control mb-4 col-4" required>

        <input type="text" th:field="*{address}" class="form-control mb-4 col-4" required>

        <input type="text" th:field="*{city}" placeholder="Customer City" class="form-control mb-4 col-4" required>

        <input type="text" th:field="*{state}" placeholder="Customer State" class="form-control mb-4 col-4" required>

        <input type="text" th:field="*{countryCode}" placeholder="Customer Country Code" class="form-control mb-4 col-4" required>

        <button type="submit" class="btn btn-info col-2"> Update Customer</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Customer List</a>
</div>
</body>

</html>